.skill-title-circle {
    margin: 1rem 0;
    width: 6rem;
    height: 6rem;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    transition: all 500ms;
    cursor: pointer;
}
.skill-title-circle-dark {
    margin: 1rem 0;
    width: 6rem;
    height: 6rem;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    transition: all 500ms;
    cursor: pointer;
}
.skill-title-circle-active {
    margin: 1rem 0;
    width: 8rem;
    height: 8rem;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    transition: all 500ms;
    font-size: 2rem;
}
.skill-title-circle-active-dark {
    margin: 1rem 0;
    width: 8rem;
    height: 8rem;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    transition: all 500ms;
    font-size: 2rem;
}
.skill-row {
    cursor: pointer;
}