
/*===============
  Containers
===============*/

body {
    overflow: hidden;
    font-family: "Helvetica";
}
.main-container {
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: black;
    font-weight: 600;
    background-color: white;
    transition: all 1000ms;
}
.main-container-dark {
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: white;
    font-weight: 500;
    background-color: black;
    transition: all 1000ms;
}
.content-container {
    width: 100%;
    position: absolute;
    top: 20%;
}
@media screen and (max-width: 900px) {
    .content-container {
        width: 100%;
        position: absolute;
        top: 13%;
    }
}
.sub-content-container {
    margin: 0 2em;
}
.profile-picture-container {
    display: flex;
    justify-content: center;
}
.fun-fact-container {
    margin: 3em 0em;
}
@media screen and (max-width: 900px) and (max-height: 700px) {
    .fun-fact-container {
        margin: -1rem;
    }
}
.divider {
    border-top: 1px solid black;
    margin: 1em 0;
}
.divider-dark {
    border-top: 1px solid white;
    margin: 1em 0;
}

/* Carousel */
.carousel-container {
    position: relative;
    height: 40vh;
}
.sliding-carousel {
    position: absolute;
    width: 100%;
}
.sliding-carousel-enter {
    transform: translate(100%, 0);
    opacity: 0;
}
.sliding-carousel-enter-active {
    transform: translate(0, 0);
    opacity: 1;
    transition: all 1000ms;
}
.sliding-carousel-exit {
    transform: translate(0, 0);
}
.sliding-carousel-exit-active {
    transform: translate(-25%, 0);
    opacity: 0;
    transition: all 1000ms;
}

/*===============
  Images
===============*/

.profile-picture {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    transition: all 1000ms;
}
.profile-picture-dark {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    filter: grayscale(20%);
    transition: all 1000ms;
}

/* SVGs */
svg {
    transition: all 200ms;
}
.polygon-container svg {
    transition: all 1000ms;
}

/*===============
  Typography
===============*/

h1 {
    font-size: 3.5em;
    font-weight: bold;
}
@media (orientation: portrait) {
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.5em;
    }
    .sub-content-container {
        text-align: center;
    }
}
.text-shadow {
    text-shadow: 0px 0px 3px #FFFFFF;
}
.text-shadow-dark {
    text-shadow: 0px 0px 3px #000000;
}

@media screen and (max-width: 900px) {
    .shrink-mobile-text-sm {
        font-size: 0.9rem;
    }
    .shrink-mobile-text-xs {
        font-size: 0.8rem;
    }
}
@media screen and (max-width: 900px) and (min-height: 700px) {
    .shrink-mobile-text-sm {
        font-size: 1rem;
    }
    .shrink-mobile-text-xs {
        font-size: 1rem;
    }
}

/*===============
  Inputs & Forms
===============*/

/* Buttons */
.carousel-button {
    background-color: transparent;
    border-color: transparent;
    font-weight: bold;
    font-size: 1.2em;
    color: black;
    padding: 0 0.5em 1em 0.5em;
    transition: 0.5s;
    margin-bottom: 1em;
    border-bottom: 3px solid white;
}
.carousel-button-active {
    background-color: transparent;
    border-color: transparent;
    font-weight: bold;
    font-size: 1.2em;
    color: black;
    padding: 0 0.5em 1em 0.5em;
    transition: 0.5s;
    margin-bottom: 1em;
    border-bottom: 3px solid #0075e3;
}
.carousel-button-dark {
    background-color: transparent;
    border-color: transparent;
    font-weight: bold;
    font-size: 1.2em;
    color: white;
    padding: 0 0.5em 1em 0.5em;
    transition: 0.5s;
    margin-bottom: 1em;
}
.carousel-button-active-dark {
    background-color: transparent;
    border-color: transparent;
    font-weight: bold;
    font-size: 1.2em;
    color: white;
    padding: 0 0.5em 1em 0.5em;
    transition: 0.5s;
    margin-bottom: 1em;
    border-bottom: 3px solid white;
}
.carousel-button:hover {
    border-bottom: 3px solid #0075e3;
}
.carousel-button-dark:hover {
    border-bottom: 3px solid white;
}

.dark-mode-button {
    position: absolute;
    right: 3em;
    bottom: 3em;
}
.dark-mode-button:hover {
    cursor: pointer;
}
.mobile-nav-menu-button {
    position: absolute;
    right: 3em;
    top: 1em;
}
.mobile-nav-menu-button:hover {
    cursor: pointer;
}

