
/*===============
  Containers
===============*/

body {
    overflow: hidden;
    font-family: "Helvetica";
}
.main-container {
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    color: black;
    font-weight: 600;
    background-color: white;
    transition: all 1000ms;
}
.main-container-dark {
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    font-weight: 500;
    background-color: black;
    transition: all 1000ms;
}
.content-container {
    width: 100%;
    position: absolute;
    top: 20%;
}
.sub-content-container {
    margin: 0 2em;
}
.profile-picture-container {
    display: flex;
    justify-content: center;
}
.fun-fact-container {
    margin: 3em 0em;
}
.divider {
    border-top: 1px solid black;
    margin: 1em 0;
}
.divider-dark {
    border-top: 1px solid white;
    margin: 1em 0;
}

/* Carousel */
.carousel-container {
    position: relative;
    height: 40vh;
}
.sliding-carousel {
    position: absolute;
    width: 100%;
}
.sliding-carousel-enter {
    transform: translate(100%, 0);
    opacity: 0;
}
.sliding-carousel-enter-active {
    transform: translate(0, 0);
    opacity: 1;
    transition: all 1000ms;
}
.sliding-carousel-exit {
    transform: translate(0, 0);
}
.sliding-carousel-exit-active {
    transform: translate(-25%, 0);
    opacity: 0;
    transition: all 1000ms;
}

/*===============
  Images
===============*/

.profile-picture {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    transition: all 1000ms;
}
.profile-picture-dark {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    filter: grayscale(20%);
    transition: all 1000ms;
}

/* SVGs */
svg {
    transition: all 200ms;
}
.polygon-container svg {
    transition: all 1000ms;
}

/*===============
  Typography
===============*/

h1 {
    font-size: 3.5em;
    font-weight: bold;
}
@media (orientation: portrait) {
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.5em;
    }
  }

/*===============
  Inputs & Forms
===============*/

/* Buttons */
.carousel-button {
    background-color: transparent;
    border-color: transparent;
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    padding: 0 0.5em;
    transition: 0.5s;
    margin-bottom: 1em;
}
.carousel-button-dark {
    background-color: transparent;
    border-color: transparent;
    font-weight: bold;
    font-size: 1.5em;
    color: white;
    padding: 0 0.5em;
    transition: 0.5s;
    margin-bottom: 1em;
}
.carousel-button:hover {
    border-bottom: 1px solid black;
}
.carousel-button-dark:hover {
    border-bottom: 1px solid white;
}

@media (orientation: portrait) {
    .carousel-button {
        font-size: 0.9em;
    }
}

.dark-mode-button {
    position: absolute;
    right: 3em;
    bottom: 3em;
}
.dark-mode-button:hover {
    cursor: pointer;
}
